@import url('/src/css/font/waltographUI.ttf');

@font-face {
    font-family: "Walter";
    src: url('/src/css/font/waltographUI.ttf');
}

*{
    margin: 0;
    padding: 0;
}

input::placeholder{
    font-family: Walter;
}

input[type="text"]{
    font-family: Walter;
    color: #252525;
}

button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
}

ul{
    list-style: none;
}

button:hover{
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center;
    font-family: Walter;
    color: #252525;
    background-image: url('/pictures/toy_story_Cloud.jpg');
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: bgMoving 35s linear infinite alternate;
}

header{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
}

header div{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 36px;
}

header div button#rules{
    z-index: 2;
}

header div button#help{
    opacity: 0;
    z-index: -1;
}

header div button#help.show{
    transition: opacity ease-in-out 2s;
    opacity: 1;
    z-index:2;
}

#menu{
    position: absolute;
    top: 40%;
    text-align: center;
    z-index: 1;
}

#menu p{
    font-size: 12px;
}

#menu{
    transition: transform ease-in-out 1s;
}

#menu.hide {
    transform : translateX(-250%);
}

#menu input{
    border: solid 2px #38bdf8;
    border-radius: 50px;
    padding: 4px;
}

#menuQuestion{
    display: none;
    position: absolute;
    top: 35%;
    text-align: center;
    z-index: 1;
}

#menuQuestion input{
    border: solid 2px #38bdf8;
    border-radius: 50px;
    padding: 4px;
}

#menuQuestion div{
    padding-top: 18px;
}

#menuQuestion div button:hover{
    color: #FF0000;
}


#helpingDiv{
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    z-index: -1;
    opacity: 0;
}

#helpingDiv.show{
    opacity: 1;
    z-index: 1;
    transition: opacity ease-in-out 1s;
}

#helpingDiv.hide{
    opacity: 0;
    z-index: -1;
    transition: opacity ease-in-out 1s;
}

#alert{
    position: absolute;
    top: 35%;
    width: 35%;
    background-color: #14b8a6;
    padding: 20px;
    z-index: 2;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 1em black;
}

#alert.hide{
    display: none;
}

#alert div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

#alert button{
    border-radius: 6px;
    padding: 6px;
    margin-top: 20px;
    color: white;
}

#alert button:hover{
    background-color: #5eead4;
    color: #252525;
}

@keyframes bgMoving{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}